<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.modules.order.store.mapper.CStoreMapper">

    <select id="queryIds" resultType="com.me.modules.order.store.entity.CStore" parameterType="java.lang.String">
        SELECT t.id, t.c_customer_id
        FROM c_store t WHERE t.code = upper(#{wareHouseNo}) AND t.isactive = 'Y'
    </select>

    <select id="queryCstoreByShopName" resultType="com.me.modules.order.store.entity.CStore" parameterType="java.lang.String">
        SELECT t.id,t.is_special,t.special_discount FROM c_store t WHERE t.name = upper(#{shopName}) AND t.isactive = 'Y'
    </select>

    <select id="queryName" resultType="java.lang.String" parameterType="java.lang.String">
        select name from c_store where code = #{wareHouseNo}
    </select>
</mapper>