<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.modules.order.mretail.mapper.MRetailMapper">

    <select id="queryCount1" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(1) FROM m_retail t WHERE orderno = #{orderNo} AND t.isactive = 'Y'
    </select>

    <select id="queryCount2" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(1) FROM m_retail t WHERE orderno = #{orderNo}
    </select>

    <select id="mRetailAc" statementType="CALLABLE" parameterType="java.lang.Integer">
        {call m_retail_ac
            (
                #{p_id, mode=IN, jdbcType=NUMERIC}
            )
        }
    </select>

    <select id="mRetailSubmit" statementType="CALLABLE" parameterType="com.me.modules.order.dto.MRetailSubmitReqDto">
        {call m_retail_submit
            (
                #{p_submittedsheetid, mode=IN, jdbcType=NUMERIC},
                #{r_code, mode=OUT, jdbcType=NUMERIC},
                #{r_message, mode=OUT, jdbcType=VARCHAR}
            )
            }
    </select>

    <update id="updateMRetail" parameterType="java.lang.Integer">
        UPDATE m_retail
        SET (tot_lines, tot_qty, tot_amt_list, tot_amt_actual, avg_discount) =
                (SELECT COUNT(1), SUM(nvl(qty, 0)), SUM(tot_amt_list),
                        SUM(tot_amt_actual),
                        decode(SUM(tot_amt_list), 0, 0,
                               SUM(tot_amt_actual) / SUM(tot_amt_list))
                 FROM m_retailitem
                 WHERE m_retail_id = #{v_retail_id})
        WHERE id = #{v_retail_id}
    </update>
</mapper>