<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.modules.order.mtransfer.mapper.MTransferMapper">


    <parameterMap id="mTransferOutQtyCopMap" type="com.me.modules.order.dto.MTransferOutQtyCopReqDto">
        <parameter property="p_id" javaType="java.lang.Integer" mode="IN" jdbcType="NUMERIC" />
        <parameter property="p_user_id" javaType="java.lang.Integer" mode="IN" jdbcType="NUMERIC" />
        <parameter property="r_code" javaType="java.math.BigDecimal" mode="OUT" jdbcType="NUMERIC" />
        <parameter property="r_message" javaType="java.lang.String" mode="OUT" jdbcType="VARCHAR" />
    </parameterMap>





    <insert id="insertMTransfer" parameterType="com.me.modules.order.mtransfer.entity.MTransfer">
        INSERT INTO m_transfer
        (id, ad_client_id, ad_org_id, ownerid, modifierid, creationdate, modifieddate,
         isactive, docno, doctype, c_orig_id, c_dest_id, description, transfertype,
         billdate, dateout, datein,transferno,orderno)
        VALUES
        (#{id}, #{adClientId}, #{adOrgId}, #{ownerId}, #{modifierId}, #{creationDate}, #{modifiedDate}, #{isActive},
         get_sequenceno('TF', 37), 'SUO', #{cOrigId}, #{cDestId},
         #{description}, 'NOR', #{billDate},#{dateOUT},#{dateIN},#{transferno},#{orderno})
    </insert>

    <select id="mTransferAc" statementType="CALLABLE" parameterType="java.lang.Integer">
        {call m_transfer_ac(#{v_m_transfer_id,mode=IN,jdbcType=INTEGER})}
    </select>

    <select id="mTransferAm" statementType="CALLABLE" parameterType="java.lang.Integer">
        {call m_transfer_am(#{p_id,mode=IN,jdbcType=NUMERIC},#{r_code,mode=OUT,jdbcType=NUMERIC},#{r_message,mode=OUT,jdbcType=VARCHAR})}
    </select>


    <select id="mTransSubmit" statementType="CALLABLE" parameterType="java.lang.Integer">
        {call m_transfer_submit(#{p_submittedsheetid,mode=IN,jdbcType=NUMERIC},#{r_code,mode=OUT,jdbcType=NUMERIC},#{r_message,mode=OUT,jdbcType=VARCHAR})}
    </select>

    <select id="mTransferOutQtyCop" statementType="CALLABLE" parameterType="com.me.modules.order.dto.MTransferOutQtyCopReqDto">
        {call m_transferout_qtycop
            (#{p_id,mode=IN,jdbcType=NUMERIC},
            #{p_user_id,mode=IN,jdbcType=NUMERIC},
            #{r_code, mode=OUT, jdbcType=NUMERIC},
            #{r_message, mode=OUT, jdbcType=VARCHAR}
            )
        }
    </select>

    <select id="mTransferOutSubmit" statementType="CALLABLE" parameterType="com.me.modules.order.dto.MTransferOutSubmitReqDto">
        {call m_transferout_submit
            (#{p_submittedsheetid, mode=IN, jdbcType=NUMERIC},
             #{r_code, mode=OUT, jdbcType=NUMERIC},
             #{r_message, mode=OUT, jdbcType=VARCHAR}
            )
        }
    </select>

    <select id="mTransferInQtyCop" statementType="CALLABLE" parameterType="com.me.modules.order.dto.MTransferInQtyCopReqDto">
        {call m_transferin_qtycop
            (#{p_id,mode=IN,jdbcType=NUMERIC},
             #{p_user_id,mode=IN,jdbcType=NUMERIC},
             #{r_code, mode=OUT, jdbcType=NUMERIC},
             #{r_message, mode=OUT, jdbcType=VARCHAR}
            )
        }
    </select>

    <select id="mTransferInSubmit" statementType="CALLABLE" parameterType="com.me.modules.order.dto.MTransferInSubmitReqDto">
        {call m_transferin_submit
            (#{p_submittedsheetid, mode=IN, jdbcType=NUMERIC},
             #{r_code, mode=OUT, jdbcType=NUMERIC},
             #{r_message, mode=OUT, jdbcType=VARCHAR}
            )
        }
    </select>
</mapper>