<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.modules.order.msale.mapper.MSaleMapper">

    <select id="queryCount" parameterType="string" resultType="integer">
        SELECT count(1) FROM m_sale t WHERE srctids = #{tid} AND t.isactive = 'Y'
    </select>

</mapper>