<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.modules.demo.mapper.BPayableMapper">

    <select id="queryBPayable" resultType="com.me.modules.demo.entity.BPayable" parameterType="string">
        select * from  B_PAYABLE where ID = #{id}
    </select>
</mapper>
